<!DOCTYPE HTML>
{% load static %}
<html>

<head>
    <meta charset = 'utf-8'>
    <title>Models Templates Views</title>
    <link rel="stylesheet" href = "{%static "css/mystyle.css"%}"/>
</head>

<body>
    <h1>Welcome to Models Templates Views</h1>
    <h2>Here are your records</h2>

    <div class = container>
    {% comment %} // if successfully i fethched the results from the data-base {% endcomment %}
    
    {% if access_records %}  
    <table>
        <thead>
        {% comment %} table heading {% endcomment %}
            <th> Site Name     </th>    
            <th> Date Accessed </th>   
        </thead>
            {% for acc in access_records %}
            <tr>
                <td> {{ acc.name }} </td>
                <td> {{ acc.date }} </td>
            </tr>
            {% endfor %}
    </table>
    {% else %}
        <p> No Access records found! </p>
    {% endif %}
    
    </div>
    
</body>

</html>





